<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymapplication">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymApplication">
        <activity android:name=".ui.Activity.SignUpActivity"></activity>
        <activity android:name=".ui.Activity.AdvancedplanListActivity" />
        <activity android:name=".ui.Activity.IntermediateplanListActivity" />
        <activity android:name=".ui.plans.AdvancedPlanActivity" />
        <activity android:name=".ui.plans.IntermediatePlanActivity" />
        <activity android:name=".ui.Activity.RegisterActivity" />
        <activity android:name=".ui.plans.TroubleZoneFragment" />
        <activity android:name=".ui.Activity.PlanlistActivity" />
        <activity android:name=".ui.plans.BeginnerPlanActivity" />
        <activity android:name=".ui.Activity.FoodListActivity" />
        <activity android:name=".ui.Activity.MainActivity" />
        <activity android:name=".ui.Activity.EditableHomeActivity" />
        <activity android:name=".ui.Activity.FoodListActivity" />
        <activity android:name=".ui.Activity.FoodDetailsActivity" />
        <activity
            android:name=".ui.Activity.SplashActivity"
            android:theme="@style/Theme.GymApplication.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activity.LoginActivity" />
        <activity
            android:name=".ui.Activity.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".ui.Activity.MainActivity" />
    </application>

</manifest>